In [1]:
import pandas as pd
import numpy as np
from os.path import dirname, basename, splitext, join
from glob import glob
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
%matplotlib inline

In [2]:
df = pd.read_csv(r"C:\Users\wmolina\Desktop\GUI\TechnoTable.csv", delimiter=";", decimal=",", index_col='Parameter').fillna('')
df

,Modell Eisenverluste,Einheit,200HX,200UHX,240 HX,240 UHX,310 HX,310 UHX,360 HX,360 UHX,410 HX,410 UHX,564 HX,564 UHX
Parameter,,,,,,,,,,,,,,
D1,Ø Stator innen,mm,"128,00 mm","133,00 mm","153,00 mm","178,00 mm","199,50 mm","230,00 mm",nicht in Planung,"275,00 mm","300,50 mm","330,00 mm","457,00 mm",in Planung
D2,Ø Blechpaket innen,mm,"136,00 mm","140,00 mm","161,00 mm","186,00 mm","209,50 mm","240,00 mm",,"286,00 mm","312,50 mm","340,00 mm","471,00 mm",
D3,Ø Blechpaket Nutgrund,mm,"144,60 mm","148,00 mm","175,66 mm","195,00 mm","277,87 mm","250,00 mm",,"298,00 mm","330,00 mm","349,60 mm","492,56 mm",
D4,Ø Stator außen,mm,"197,50 mm","197,50 mm","240,00 mm","249,00 mm","304,50 mm","313,00 mm",,"357,40 mm","410,00 mm","416,00 mm","564,00 mm",
D5,(Ø) min. Rotor innen,mm,"199,10 mm","198,00 mm","241,60 mm","250,00 mm","306,17 mm","313,60 mm",,"358,40 mm","412,04 mm","417,00 mm","567,00 mm",
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6TM,,6,6,6,,,,,,6,,6,,
8TM,,,,,,8,,,,,,,,
10TM,,,,,,,,,10,,,,,
12TM,,,,,,,,,,12,,12,,
NaN,,,,,,,,,,,,,,

In [8]:
df.dtypes

Modell Eisenverluste    object
Einheit                 object
200HX                   object
200UHX                  object
240 HX                  object
240 UHX                 object
310 HX                  object
310 UHX                 object
360 HX                  object
360 UHX                 object
410 HX                  object
410 UHX                 object
564 HX                  object
564 UHX                 object
dtype: object

In [3]:
data2 = df["200UHX"]
data2

Parameter
D1      133,00 mm
D2      140,00 mm
D3      148,00 mm
D4      197,50 mm
D5      198,00 mm
          ...
6TM             6
8TM
10TM
12TM
NaN
Name: 200UHX, Length: 140, dtype: object

In [7]:
D1=data2["D1"]
D1
D1.dtypes

AttributeError: 'str' object has no attribute 'dtypes'

In [4]:
Cw_200UHX = data2["Cu"]*data2["mcu"]+(data2["CW2243-2L"] + data2["HY2966"])*data2["B_l100"]*data2["c"]
Cw_200UHX

1623.5156

In [5]:
Pvfe_200UHXkg = (data2['VH']*(1/50)+data2['VW']*(1/50)**data2['a'])*(data2['Bmax'])
Pvfe_200UHXkg

0.0206827567242737

In [6]:
Pfe_200UHX = (data2['kb']*data2['mb']*Pvfe_200UHXkg)
Pfe_200UHX

0.4437485455192922

In [7]:
Pcu_200UHX = (80*(data2["Rwk"]+data2["Rwb"]+data2["Rbk"])-data2["Rbk"]*Pfe_200UHX)/(data2["Rwk"]*(data2["Rwb"]+data2["Rbk"]))
Pcu_200UHX

1379.9757884026865