In [1]:
import pandas as pd

In [11]:
df = pd.read_csv("Interface/Teil1_200UHX.csv", delimiter=";", decimal=",", index_col='Parameter')
df

              200UHX
Parameter
Rth           0.0580
Rwk           0.5800
Rwb           0.0483
Rbk           0.0161
Rnk           0.2088
Cw         1623.5000
Cb         3427.9000
Tw           78.5000
Tb           55.2000
Bmax          1.7000
VH            0.5780
VW            0.3170
a             1.6000
b             1.9300
kb            3.5000
mb            6.1300

In [12]:
data = df["200UHX"]
data

Parameter
Rth        0.0580
Rwk        0.5800
Rwb        0.0483
Rbk        0.0161
Rnk        0.2088
Cw      1623.5000
Cb      3427.9000
Tw        78.5000
Tb        55.2000
Bmax       1.7000
VH         0.5780
VW         0.3170
a          1.6000
b          1.9300
kb         3.5000
mb         6.1300
Name: 200UHX, dtype: float64

In [8]:
data["Tw"]

78.5